* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;

}

header {
  background: #222;
  color: white;
  padding-bottom: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  border-radius: 5px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
}

.nav-link:hover,
.nav-link.active {
  background: #444;
  color: aqua;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
  cursor: pointer;
}

section {
  padding: 3rem 2rem;
}

#projects .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.project-card {
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.contact-form button {
  background: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
}
.aa{
    font-style: italic;
    font-size: small;
    color: cadetblue;
}
.bb{
    color: brown;
}
.image{
    height: 100px;
    width: 100px;
    align-items: center;
    border-radius: 50%;
}
#button{
    background-color: blueviolet;
}